body {
  background: aliceblue;
  font-family: monospace;
}

.one-moment-please {
}

.carnivore-color {
  background: salmon;
}
.omnivore-color {
  background: lightyellow;
}
.herbivore-color {
  background: lightgreen;
}
